/* Main Style */
body {
  text-align: left;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background-color: #EEEEEE;
}

/* Navigation Bar */
ul.navbar {
  list-style: none;
  margin: 1.5% 0 0 0;
  padding: 0px;
  width: 15%;
  background-color: #EEEEEE;
  height: 100%;
  position: fixed;
  overflow: auto;
}

/* Navbar Sections (blocks) */
ul.navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Active page color change */
ul.navbar li a.active {
  background-color: #4CAF50;
  color: white;
}


/* Text Content Style */
div.main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16.5%;
  padding-right: 16.5%;
  height: 1000px;
  max-width: 750px;
}

/* Style for resolutions less than 900px wide */
@media screen and (max-width: 900px) {
  ul.navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  ul.navbar li a {
    float: left;
    padding: 15px;
  }
  div.main {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1px;
    padding-right: 1px;
    max-width: 100%
  }
}

/* Style for resolutions less than 768px wide */
@media screen and (max-width: 768px) {
  ul.navbar a li {
        text-align: center;
        float: none;
  }
}